---
import HomeIcon from "../icons/HomeIcon.astro";
import SearchIcon from "../icons/SearchIcon.astro";
import LibraryIcon from "../icons/LibraryIcon.astro";
import SideMenuItem from "./supcomponents/SideMenuItem.astro";
import { getPlaylistsData } from "../services/service.getAllPlaylists";
import CoverPlaylistDefault from "../icons/CoverPlaylistDefault.astro";
import { Image } from "astro:assets";

const hash = Astro.cookies.get("token");
const token = hash.value.substring(1).split("&")[0].split("=")[1];

const { items } = await getPlaylistsData(token);
console.log(items);
console.log(token);
---

<script>
  const playlistsDiv = document.getElementById("playlistContainer");
  const bibliotecaSection = document.getElementById("Biblioteca");
  function handleScroll() {
    if (playlistsDiv.scrollTop >= 1) {
      bibliotecaSection.classList.add("bottom-shadow");
    } else {
      bibliotecaSection.classList.remove("bottom-shadow");
    }
  }

  // Agregar el eventListener al evento de desplazamiento
  playlistsDiv.addEventListener("scroll", handleScroll);
</script>

<nav class="wrapper">
  <header class="box--1">
    <ul class="box__content">
      <SideMenuItem href="/" data-astro-prefetch="viewport">
        <HomeIcon />
        Inicio
      </SideMenuItem>
      <SideMenuItem href="#" data-astro-prefetch="viewport">
        <SearchIcon />
        Buscar
      </SideMenuItem>
    </ul>
  </header>
  <section class="box--2">
    <ul class="box__content--p" id="Biblioteca">
      <SideMenuItem gapCustom={true} href="/" data-astro-prefetch="viewport">
        <LibraryIcon />
        Tu biblioteca
      </SideMenuItem>
    </ul>
    <div class="playlists" id="playlistContainer">
      {
        items.map((playlist) => (
          <Fragment>
            <a href={`/playlist/${playlist.id}`} data-astro-prefetch="viewport">
              <div class="playlists__item">
                {playlist.images[0]?.url !== undefined ? (
                  <picture class="item__containerImg">
                    <Image
                      src={playlist.images[0]?.url}
                      height="48"
                      width="48"
                      class="containerImg__img"
                      alt={`Cover de portada del playlist ${playlist.name}`}
                    />
                  </picture>
                ) : (
                  <picture class="item__containerImg--svg">
                    <CoverPlaylistDefault />
                  </picture>
                )}
                <header class="item__wrapper">
                  <h2 class="wrapper__title hiddenText">{playlist.name}</h2>
                  <div class="wrapper__owner">
                    <p class="owner__subtitle">
                      {playlist.type === "playlist" ? "Lista" : ""}
                    </p>
                    <spam class="owner__subtitle--xs">•</spam>
                    <p class="owner__subtitle">{playlist.owner.display_name}</p>
                  </div>
                </header>
              </div>
            </a>
          </Fragment>
        ))
      }
    </div>
  </section>
</nav>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    gap: 0.5rem;
    overflow-y: auto;
  }

  .box--1 {
    display: flex;
    align-items: center;
    height: 7rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    background-color: #121212;
  }

  .hiddenText {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .box__content--p {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.2rem 1.5rem;
  }

  .box__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .box--2 {
    display: flex;
    height: 7rem;
    border-radius: 0.5rem;
    background-color: #121212;
    flex: 1 1 0%;
    flex-direction: column;
  }

  .playlists {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    overflow-y: scroll;
  }

  .playlists::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.3);
  }

  .playlists::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.4);
  }

  .playlists::-webkit-scrollbar-thumb:active {
    background: hsla(0, 0%, 100%, 0.6);
  }

  .bottom-shadow {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .playlists::-webkit-scrollbar {
    width: 0.8rem;
    height: 2rem;
  }

  .playlists__item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0.5rem;
    gap: 0.7rem;
    border-radius: 6px;
  }

  .playlists__item:hover {
    background-color: hsla(0, 0%, 40%, 0.1);
  }

  .item__containerImg {
    background-color: #282828;
    border-radius: 5px;
  }

  .containerImg__img {
    border-radius: 5px;
  }

  .item__containerImg--svg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 48px;
    height: 48px;
    background-color: #282828;
    color: #b3b3b3;
  }

  .item__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.2rem 0;
  }

  .wrapper__title {
    word-break: break-all;
    outline: none;
    text-decoration: none;
    overflow-wrap: anywhere;
    font-size: 1em;
    font-weight: 400;
    color: #fff, #000000;
  }

  .wrapper__owner {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  @supports (overflow-wrap: anywhere) {
    .owner__subtitle {
      overflow-wrap: anywhere;
    }
  }

  .owner__subtitle {
    font-size: 0.875rem;
    font-weight: 400;
    word-break: break-all;
    color: #a7a7a7;
  }

  .owner__subtitle--xs {
    font-size: 0.5rem;
    font-weight: 400;
    color: #a7a7a7;
  }
</style>
