---
import { getPlaylistsData } from "@services/service.getAllPlaylists";
import { getCurrentUser } from "@services/service.getCurrentUser";
import PlaylistsHome from "@components/supcomponents/PlaylistsHome.astro";
import Header from "@components/Header";
import GreetingTitle from "./GreetingTitle";
import RecomendedPlaylists from "./supcomponents/RecomendedPlaylists.astro";

const hash = Astro.cookies.get("token");
const token = hash.value.substring(1).split("&")[0].split("=")[1];

// Lista de Playlists
const { items } = await getPlaylistsData(token);

// Obtener la informacion del usuario actual
const user = await getCurrentUser(token);
---

<Fragment>
  <Header user={user} bg={"bg__header--home"} active={false} client:visible/>
  <div class="wrapper">
    <div class="mask__bg"></div>
    <article class="home__pov">
      <GreetingTitle client:visible />
      <div class="card__container">
        <RecomendedPlaylists items={items}/>
      </div>
    </article>
    <article class="container__grid">
      <h2 class="wave--grid">Hecho para {user.display_name}</h2>
      <div class="container__playlist">
        <PlaylistsHome items={items}/>
      </div>
    </article>
  </div>
</Fragment>

<style>
  :root {
    --background-noise--home: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=);
    --background-base: #121212;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4rem 1.375rem 0.25rem 1.375rem;
    position: relative;
  }

  .mask__bg {
    background-color: rgb(136, 24, 48);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.6)),to(var(--background-base))),var(--background-noise--home);
    background-image: linear-gradient(rgba(0,0,0,.6) 0,var(--background-base) 100%),var(--background-noise--home);
    height: 332px;
    top: 0;
    right: 0;
    position: absolute;
    -webkit-transition: background 1s ease;
    transition: background 1s ease;
    width: 100%;
    z-index: 0;
  }

  .container__grid {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    margin-bottom: 1rem;
    position: relative;
  }

  .container__playlist {
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    min-width: 372px;
    grid-template-rows: 17rem;
    grid-auto-rows: 17rem;
    grid-gap: 1.5rem;
    align-items: center;
    grid-area: playlist;
  }

  .wave {
    font-size: 1.95em;
    font-weight: 700;
    letter-spacing: -1px;
    user-select: none;
    -webkit-user-select: none;
  }

  .wave--grid {
    grid-area: title;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: -1px;
    user-select: none;
    -webkit-user-select: none;
  }

  .home__pov {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    margin-bottom: 2.5rem;
    position: relative;
  }

  .card__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3rem;
    grid-auto-rows: 3rem;
    grid-gap: 0.5rem;
  }
</style>
