---
import { Image } from "astro:assets";
import CoverPlaylistDefaultLarge from "../icons/CoverPlaylistDefaultLarge.astro";
import TimeIcon from "../icons/TimeIcon.astro";
import { countTrack } from "../lib/countTracks";
import { getCurrentUser } from "../services/service.getCurrentUser";
import { getPlaylistTracks } from "../services/service.getPlaylist";
import { convertDate } from "../lib/convertDate";
import { msToMin } from "../lib/msToMin";
import PlayXSIcon from "../icons/PlayXSIcon.astro";

interface Props {
  user_id: string;
}

const { user_id } = Astro.props;

// Obtener el token del hash
const hash = Astro.cookies.get("token");
const token = hash?.value.substring(1).split("&")[0].split("=")[1];

// Obtener el Playlist actual
const playlist = await getPlaylistTracks(token, user_id);

// OBtener datos del usuario
const user = await getCurrentUser(token);

const trackNum = countTrack(playlist.tracks.total);

console.log(playlist);
---

<Fragment>
  <div class="wrapper">
    <div class="mask__bg"></div>
    <div class="mask__shadow"></div>
    {
      playlist.images !== null ? (
        <picture class="cover__playlist">
          <Image
            src={playlist?.images[0]?.url}
            width="232"
            height="232"
            class="playlist__img"
            alt="Imagen de portada del playlist que escogiste"
          />
        </picture>
      ) : (
        <picture class="cover__playlist">
          <CoverPlaylistDefaultLarge />
        </picture>
      )
    }
    <div class="header__playlist">
      <span class="playlist__type">Lista</span>
      <header>
        <h1
          class={playlist.name.length <= 10
            ? "playlist__name"
            : playlist.name.length <= 19
              ? "playlist__name--xl"
              : playlist.name.length <= 25
                ? "playlist__name--lg"
                : "playlist__name--sm"}
        >
          {playlist.name}
        </h1>
        <div class="playlist__info">
          {
            playlist.owner.display_name === user.display_name && (
              <picture>
                <Image
                  src={user.images[0]?.url}
                  width="24"
                  height="24"
                  class="user__avatar"
                  alt="Avatar del usuario que creo el playlist"
                />
              </picture>
            )
          }
          <p class="playlist__display_name">{playlist.owner.display_name}</p>
          <span class="space__char">•</span>
          <p class="playlist__count_tracks">
            {`${playlist.tracks.items.length} canciones`}
          </p>
          <p class="playlist__followers">
            {`, ${playlist.followers.total} me gusta`}
          </p>
        </div>
      </header>
    </div>
  </div>
  <div class="list__tracks">
    <div class="mask__bg--2"></div>
    <header class="table__header">
      <nav class="header__container">
        <p class="header__column--number">#</p>
        <p class="header__column" style="margin-right: 16rem;">Titulo</p>
        <p class="header__column" style="margin-right: 9.3rem;">Álbum</p>
        <div style="max-width: 10rem; margin-right: 5rem;">
          <p class="header__column">Fecha en la que se añadio</p>
        </div>
        <TimeIcon />
      </nav>
    </header>
    <div class="tracks__container">
      {
        playlist.tracks.items.map((track, index) => (
          <a href="/track/sdasdase123e12323" class="card">
            <div style="position: relative; width: 1rem;">
              <p class="card__numberTrack position__trackNum">
                {trackNum[index]}
              </p>
              <div class="icon__play">
                <PlayXSIcon />
              </div>
            </div>
            <div class="card__columnTitle">
              <picture class="content__imgTrack">
                <Image
                  src={track.track.album.images[2].url}
                  height="40"
                  width="40"
                  class="img__track"
                  alt={`Cover del album de la cancion ${track.track.name}`}
                />
              </picture>
              <div class="content__titles">
                <p class="track__tile hiden__text">{track.track.name}</p>
                <p class="track__artist hiden__text">
                  {track.track.artists[0].name +
                    `${
                      track.track?.artists[1]?.name === undefined
                        ? ""
                        : ", " + track.track?.artists[1]?.name
                    } `}
                </p>
              </div>
            </div>
            <div class="card__columnAlbum">
              <div class="content__album">
                <p class="album__name hiden__text">{track.track.album.name}</p>
              </div>
            </div>
            <div class="card__columnAdded">
              <div class="content__added">
                <p class="album__name hiden__text">
                  {convertDate(track.added_at)}
                </p>
              </div>
            </div>
            <div style="position: relative; margin-left: 2rem;">
              <p class="album__name position_trackDuration hiden__text">
                {msToMin(track.track.duration_ms)}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Fragment>

<style>
  :root {
    --background-base: #121212;
    --background-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=);
  }

  .wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 0px 1.5rem 1.4375rem 1.5rem;
    max-height: 25rem;
    min-height: 21.25rem;
    position: relative;
  }

  .mask__bg {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(136, 168, 200);
  }

  .mask__bg--2 {
    background-color: rgb(136, 168, 200);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.6)),
        to(var(--background-base))
      ),
      var(--background-noise);
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6) 0,
        var(--background-base) 100%
      ),
      var(--background-noise);
    height: 232px;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  .mask__shadow {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%),
      var(--background-noise);
  }

  .cover__playlist {
    margin-right: 1.3rem;
    position: relative;
  }

  .playlist__img {
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  }

  .header__playlist {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  .playlist__type {
    font-size: 0.875rem;
    font-weight: 400;
    color: #fff;
  }

  .playlist__name {
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: -3px;
    margin: 0.06em 0px 0.15em;
  }

  .playlist__name--sm {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -3px;
    margin: 0.06em 0px 0.12em;
  }

  .playlist__name--lg {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -3px;
    margin: 0.06em 0px 0.12em;
  }

  .playlist__name--xl {
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: -3px;
    margin: 0.06em 0px 0.22em;
  }

  .user__avatar {
    border-radius: 50%;
    margin-right: 0.4rem;
  }

  .playlist__info {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  .playlist__display_name {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .space__char {
    font-weight: 400;
    font-size: 0.5em;
    margin: 0 0.4rem;
  }

  .playlist__count_tracks {
    font-size: 0.875rem;
    font-weight: 400;
    white-space: nowrap;
  }

  .playlist__followers {
    font-size: 0.875rem;
    font-weight: 400;
    white-space: nowrap;
    color: hsla(0, 0%, 100%, 0.7);
  }

  .list__tracks {
    position: relative;
  }

  .tracks__container {
    position: relative;
    padding: 0 1.5rem 1.5rem 1.5rem;
    width: 100%;
    margin: 0;
  }

  .table__header {
    border-bottom: 1px solid transparent;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 2.25rem;
    position: relative;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 1rem;
  }

  .header__container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    gap: 1rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    color: #a7a7a7;
  }

  .header__column {
    font-size: 0.875rem;
    font-weight: 400;
    color: inherit;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: unset;
    word-break: break-all;
    overflow: hidden;
  }

  .header__column--number {
    font-size: 1rem;
    font-weight: 400;
    color: inherit;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: unset;
    word-break: break-all;
  }

  .card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.3rem 1rem;
    gap: 0.7rem;
    border-radius: 4px;
    border: 1px solid transparent;
  }

  .card:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    .icon__play {
      opacity: 1;
    }

    .card__numberTrack {
      opacity: 0;
    }
  }

  .card__numberTrack {
    font-size: 1em;
    font-weight: 400;
    font-variant: tabular-nums;
    color: #a7a7a7;
    margin-right: 0.6rem;
  }

  .card__columnTitle {
    display: flex;
    align-items: center;
  }

  .content__imgTrack {
    margin-right: 0.75rem;
  }

  .img__track {
    border-radius: 4px;
  }

  .content__titles {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 0.2rem 0;
    width: 14.6rem;
  }

  .track__tile {
    font-size: 1em;
    font-weight: 400;
    color: #fff;
  }

  .track__artist {
    font-size: 0.875rem;
    font-weight: 400;
    word-break: break-all;
    color: #a7a7a7;
  }

  .hiden__text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .position__trackNum {
    font-variant: tabular-nums;
    pointer-events: none;
    position: absolute;
    right: -0.2em;
    top: -8px;
  }

  .card__columnAlbum {
    display: flex;
    align-items: center;
  }

  .content__album {
    width: 12.5rem;
    margin-left: 0.5rem;
  }

  .album__name {
    font-size: 0.875rem;
    font-weight: 400;
    word-break: break-all;
    color: #a7a7a7;
  }

  .card__columnAdded {
    display: flex;
    align-items: center;
  }

  .content__added {
    width: 12.5rem;
  }

  .card__columnTimeTrack {
    display: flex;
    align-items: center;
  }

  .position_trackDuration {
    pointer-events: none;
    position: absolute;
    right: -2.4em;
    top: -8px;
  }

  .icon__play {
    pointer-events: none;
    position: absolute;
    right: -0.2em;
    top: -9px;
    opacity: 0;
    cursor: pointer;
  }
</style>
