---
import { type Item } from "../../types/playlists.type";
import { Image } from "astro:assets";
import CoverPlaylistDefault from "@icons/CoverPlaylistDefault.astro";
import Play from "@icons/PlaySmallIcon.astro";

interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

{
  items.slice(0, 6).map((playlist) => (
    <Fragment>
      <a
        class="card"
        href={`/playlist/${playlist.id}`}
        data-astro-prefetch="viewport"
      >
        <div class="container__img">
          {playlist.images[0]?.url !== undefined ? (
            <picture>
              <Image
                src={playlist.images[0]?.url}
                height="48"
                width="48"
                class="playlist__cover"
                alt={`Cover de portada del playlist ${playlist.name}`}
                transition:name={`playlist ${playlist.id} image`}
              />
            </picture>
          ) : (
            <picture class="container__svg" transition:name={`playlist ${playlist.id} default`}>
              <CoverPlaylistDefault />
            </picture>
          )}
          <p class="playlist__name hiden__text">{playlist.name}</p>
        </div>
        <div class="button__play">
          <Play />
        </div>
      </a>
    </Fragment>
  ))
}

<style>
  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, 0.1);
    transition: background-color 0.3s ease;
  }

  .card:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
    .button__play {
      display: flex;
    }
  }

  .container__img {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    max-width: 10rem;
  }

  .playlist__cover {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
  }

  .container__svg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 48px;
    height: 48px;
    background-color: #28253f;
    color: #b3b3b3;
  }

  .playlist__name {
    font-weight: 500;
    font-size: 0.9em;
    user-select: none;
    -webkit-user-select: none;
  }

  .hiden__text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .button__play {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #1db954;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 0.5rem;
    color: #000;
    box-shadow: 0px 9px 9px -1px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: 0px 9px 9px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 9px 9px -1px rgba(0, 0, 0, 0.42);
  }

  .button__play:hover {
    transform: scale(1.06);
    background-color: #1db944;
  }
</style>
